
.jumbotron{
    background-color: rgb(0,0,0,0.7);
}

.navbar-brand{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.navLinks {
    margin-left:auto;
    font-family:'Oswald', sans-serif;
}
.bio-box {
    margin-top:32px;
    padding: 16px 16px;
}

.portfolio-box {
    padding: 16px 16px;
}


#bioHeader-box {
    background-color: rgb(0,0,0,0.7);
}
#portfolioSection{
    background-color:rgb(0,0,0,0.7);
    padding-bottom: 40px;
}
#card-header{
    color:white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100%;
}

strong{
    padding-bottom: 63px;
    padding-right:5px;
    padding-left:5px;
    padding-top:25px;
}

#navLinks{
    font-family: 'Oswald', sans-serif;
    margin-left:auto;
}

button{
    background-color: rgb(0,0,0,0.7);
    color: white;
    
}

body{
    background-image: url("./images/perchek-industrie-JKguhEDbIRY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.headingText{
    color:white;
    text-align: center;
    font-weight:bold;
}
h2,h3,h4{
    font-family: 'Oswald', sans-serif;
}
#biocontent{
    background-color:rgb(0,0,0,0.7);
    color: white;
    font-size:20px;
    margin-bottom: 48px;

}
#portfolio-projects{
    background-color: rgb(0,0,0,0.7);
}
#portfolioCarousel{
    width: auto;
}
p{
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color: rgb(0,0,0,0.7);
    color:white;
    text-align: center;
    position: sticky;
    width:100%;
    padding:20px;
}
i{
    font-size: 50px;
}

section{
    margin-bottom: 48px;
}
.carousel-indicators{
    position:relative;
}

@media (max-width: 760px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 16px;
    }
    #navbarGroup{
        margin-left: 85px;
    }
}
@media (min-width: 761px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 20px;
    }
    #navbarGroup{
        margin-left: 205px;
    }
    .img.img-thumbnail{
        margin-left:30px;
    }
}
@media (min-width: 992px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 26px;
    }
    #navbarGroup{
        margin-left:auto;
    }
    .img.img-thumbnail{

        width: 100%;
        margin-left:10px;
        margin-top: 150px;
        margin-bottom:10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:10px;
        padding-bottom:10px;
        height: auto;

    }
} .btn{
    margin-right: 3px;
}
#navButtons{
    font-size: 20px;
}

#portfolioBtn{
    color:white;
    font-size:20px
}

#buttons {
    color: white;
}
#copyright{
    font-size: 30px; 
}