
.jumbotron{
    background-color: rgb(0,0,0,0.7);
}

#brand{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;


}
#card-header{
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

strong{
    background-color: rgb(0,0,0,0.9);
    padding-bottom: 63px;
    padding-right:5px;
    padding-left:5px;
    padding-top:25px;
}

#navbarGroup{
    font-family: 'Oswald', sans-serif;
    padding-left:125px;
}

button{
    background-color: rgb(0,0,0,0.7);
    color: white;
    
}

body{
    background-image: url("./images/portfolio-background.jpg");
}

h2{
    color:white;
}
h5{
    font-family: 'Oswald', sans-serif;
}
#biocontent{
    background-color:rgb(0,0,0,0.7);
    color: white;
    font-size:20px;
    margin-bottom: 160px;

}
#portfolio-projects{
    background-color: rgb(0,0,0,0.7);
}
p{
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color: rgb(0,0,0,0.7);
    color:white;
    text-align: center;
    position: sticky;
    width:100%;
    padding:20px;
}
i{
    font-size: 22px;
}

section{
    margin-bottom: 200px;
}
.carousel-indicators{
    position:relative;
}

@media (max-width: 760px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 16px;
    }
    #navbarGroup{
        padding-left: 115px;
    }
}
@media (min-width: 761px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 20px;
    }
    #navbarGroup{
        padding-left: 205px;
    }
    .img.img-thumbnail{
        margin-left:60px;
    }
}
@media (min-width: 992px){
    .carousel-caption h1, .carousel-caption h2,.carousel-caption h3{
        font-size: 26px;
    }
    #navbarGroup{
        padding-left:120px;
    }
    .img.img-thumbnail{

        width: 90%;
        margin-left:25px;

    }
} .btn{
    margin-right: 3px;
}

#portfolioBtn{
    color:white;
}